/* #region Core Styling */
:root{
    --border-color: black;
    --color-primary: black;
}

*{
    box-sizing: border-box;
}

html{
    background-color: black;
}

body{
    padding: 1rem;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(235, 214, 160);
    background-image: url('./img/bckgrnd.png');
    background-size: cover;
    font-family: 'Exo',
    sans-serif;
    font-size: 14px;

}

ul{
    list-style: none;
    padding-left: 0;
}

/* --------------.alignment-styling------------- */
header,
.details-section,
footer{
    display: flex;
    /* align-items: center; */
    width: 100%;
    justify-content: space-between;
}



/* --------------.border-styling------------- */
.about-div,
.contact-details-div,
.education-section,
.skills-section {
    border-right: 1px solid var(--border-color);
}

.name-section {
    border-left: 1px solid var(--border-color);
}

header,
.section-header.experience,
.experience-section > .section-body{
    border-bottom: 1px solid var(--border-color);
}

.section-header.experience{
    border-top: 1px solid var(--border-color);
}



/* --------------.general-margins-styling------------- */
.details-section,
footer,
.section-header.experience {
    margin-top: 1.5rem;
}

.full-name,
.section-header,
.award-title,
p{
    margin: 0;
}

.education-name,
.experience-header{
    margin-bottom: 0;
}

.single-experience-container{
    margin-top: 1.5rem;
}

.single-education-container:last-of-type {
    margin-top: 2.5rem;
}

.single-award-container {
    margin-top: 1rem;
}

.expertise-list>li,
.skills-list>li {
    margin-top: 1rem;
}

.experience-header-subtitle{
    margin-top: .1rem;
}

.experience-description {
    margin-top: .25rem;
}

body{
    margin-top: 0;
    margin-bottom: 0;
}




/* --------------.general-padding-styling------------- */
body{
    padding: 2.5rem;
    padding-bottom: 1.5rem;
}

.about-div,
.contact-details-div,
.education-section,
.skills-section{
    padding-right: 2rem;
}

.contact-details-div,
.skills-section,
.awards-section ,
.name-section,
.expertise-div {
    padding-left: 2rem;
}

.section-header.experience,
.name-section{
    padding-top: .5rem;
}

.section-header.experience {
    padding-bottom: .5rem;
}

.experience-section>.section-body{
    padding-bottom: 1.5rem;
}

header {
    padding-bottom: 1.5rem;
}




/* --------------.font-styling------------- */
.full-name,
.section-header,
.experience-header ,
.education-name ,
.award-title {
    font-family: 'Roboto Slab',
    serif;
}

.full-name{
    font-weight: 900;
    font-size: 3rem;
}

.section-header{
    font-weight: 800;
    font-size: 2rem;
}

.last-name {
    letter-spacing: 4px;
    margin-top: -10px;
}

.job-title{
    font-size: 2rem;
}

.about-div{
    text-align : justify;
}

.detail-title{
    font-family: 'Roboto Slab', serif;
}

.detail-detail,
.social-link-link {
    font-size: .85rem;
}

.education-institute,
.award-institute{
    font-style: italic;
}

.experience-header-subtitle{
    font-size: .85rem;
    font-style: italic;
}



/* --------------.header-section------------- */
header{
    justify-content: left;
}

.picture-section{
    width: 33%;
}

.my-picture{
    width: 60%;
    margin-left: 20%;
    border-radius: 50%;
}



/* --------------.details-section------------- */
.details-section > div,
footer > section{
    width: 33%;
}

.detail-row{
    margin-top: .4rem;
}

.social-links-row{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: .4rem;
}

.social-links-row img{
    width: 1.5rem;
    margin-right: .4rem;
}

.social-link-link{
    text-decoration: none;
    color: var(--color-primary);
}
/* #endregion Core Styling */

/* #region CV Page Specific Styling */
.cv-page .name-section{
    border-left: none;
    width: 100%
}
.cv-page .full-name{
    text-align: center;
}
.cv-page body{
    padding-top: 0.5rem;
}
.cv-page .contact-details-div {
    padding-left: 0;
    /* padding-right: 2rem; */
    width: 31%;
}
/* #endregion CV Page Specific Styling */
